* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
    color: black;
    text-decoration: none;
}
/*-- Element Styles --*/
header {
    max-width: 1200px;
    width: auto;
    margin: 0 auto;
}
nav {
    position: relative;
    padding: 3.75rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
span {
    color: #FBA342;
}

/*-- Flexbox Styles --*/
.flex {
    display: flex;
}

/*-- One Time Styles --*/
.logo {
    align-items: center;
    font-weight: 800;
    z-index: 5;
}
.logo img {
    max-width: 4.87em;
    max-height: 3.75em;
    width: auto;
    height: auto;
    margin-right: 5px;
}
.logo img.is-active {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.nav-links {
    position: relative;
    font-weight: 600;
}
.nav-links a:not(:last-child) {
    margin-right: 32px;
}
.nav-links a:hover {
    color: #FBA342;
}
.cta {
    padding: 0.6em 1.7em;
    margin: 0 0.3em 0.3em 0;
    border: 0.1em solid transparent;
    border-radius: 0.12em;
    font-weight: 600;
    transition: all 0.1s;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to top right, #FBA342, #FBC141);
    box-shadow: 2px 1000px 1px #fff inset;
}
.cta:hover {
    color: white !important;
    box-shadow: none;
}
.hamburger {
	position: relative;
	display: block;
	width: 35px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	outline: none;
	border: none;
    z-index: 5;
}
.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #FBA342;
	margin: 6px 0px;
	-webkit-transition: 0.4s;
	transition: 0.4s
}
.hamburger.is-active:before {
	-webkit-transform: rotate(-45deg) translate(-8px, 6px);
	transform: rotate(-45deg) translate(-8px, 6px)
}
.hamburger.is-active:after {
	-webkit-transform: rotate(45deg) translate(-9px, -8px);
	transform: rotate(45deg) translate(-9px, -8px)
}
.hamburger.is-active .bar {
	opacity: 0
}
.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 4;
    background-color: #fbb142;
    padding-top: 120px;
    transition: 0.4s;
}
.mobile-nav.is-active {
    left: 0;
}
.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    background-color: #FBC141;
    color: white;
    font-weight: 600;
}


/*-- Media Queries --*/
@media (max-width: 768px) {
    .nav-links a, .cta, .tcta {
        display: none;
    }
    span {
        color: white;
    }
}

@media (min-width: 769px) {
    .mobile-nav, .hamburger {
        display: none;
    }
}